<!DOCTYPE html>
<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=review.author.username) }}">
                <img src="{{ review.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.user', username=review.author.username) }}">
                {{ review.author.username }}
            </a>
            said {{ moment(review.timestamp).fromNow() }}:
            <br>
            {{ review.body }}
            {% for tag in review.tags %}
            <badge class="badge">{{ tag.name }}</badge>
            {% endfor %}
        </td>
        {% if review.author == current_user %}
        <td>
            <a href="{{ url_for('main.delete_post', post_id=review.id) }}">
                Delete
            </a>
        </td>
        {% endif %}
    </tr>
</table>