<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Allerta" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <title>{% if title %}{{ title }}{% else %}Whisky Blog{% endif%}</title>
</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">
            {{ _('Whisky Blog') }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.home') }}">{{ _('Home') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.whisky_list') }}">{{ _('All Whiskies') }}</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <form class="form-inline mr-sm-2" method="get" action="{{ url_for('main.search', sort='rel') }}">
                    {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                </form>
                {% for lang in config.LANGUAGES %}
                {% if lang != CURRENT_LANGUAGE %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.set_language', language=lang) }}">{{ lang.upper() }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
        </div>
    </nav>
    {%- endblock navbar %}
    <div class="container">
        {% with msgs = get_flashed_messages() %}
        {% if msgs %}
        <ul>
            {% for msg in msgs %}
            <div class="alert alert-info">{{ msg }}</div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock app_content %}
    </div>

    {% block scripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script>
        $ (function() {
            var timer = null;
            var xhr = null;
            $('.whisky_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/whisky/' + elem.attr('id') + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: false,
                                        animation: false,
                                        container: elem,
                                        content: data.message
                                    }).popover('show');
                                }
                            );
                    }, 500);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('dispose');
                    }
                }
            )
        });
    </script>
    {%- endblock scripts %}
</body>
</html>