<!DOCTYPE html>
{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }}{% else %}Whisky Blog{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle naviagation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.home') }}">
                    <span class="glyphicon glyphicon-glass"></span>
                    Whisky Blog
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.home') }}">{{ _('Home') }}</a></li>
                    <li><a href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a></li>
                    <li><a href="{{ url_for('main.whisky_list') }}">{{ _('All Whiskies') }}</a></li>
                    <li><a href="{{ url_for('main.recipe_page') }}">{{ _('Recipes') }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if CURRENT_LANGUAGE == 'en' %}
                    <li><a href="{{ url_for('main.set_language', language='ja') }}">JA</a></li>
                    {% elif CURRENT_LANGUAGE == 'ja' %}
                    <li><a href="{{ url_for('main.set_language', language='en') }}">EN</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.set_language', language='ja') }}">JA</a></li>
                    <li><a href="{{ url_for('main.set_language', language='en') }}">EN</a></li>
                    {% endif %}
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}{% endwith %}

    {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script>
        $ (function() {
            var timer = null;
            var xhr = null;
            $('.whisky_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/whisky/' + elem.attr('id') + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                }
                            );
                    }, 1000);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            )
        });
    </script>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Allerta" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% endblock %}