{% extends 'base.html' %}

{% block app_content %}
    <h4>{{ _('Scotch Cocktails') }}</h4><br><hr>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <b>Rob Roy</b>
                <hr>
                <p>60 ml Scotch</p>
                <p>22 ml Sweet Vermouth</p>
                <p>3 dashes Angostura bitters</p>
                <p>Garnish with a maraschino cherry or lemon twist</p>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <b>Blood & Sand</b>
                <hr>
                <p>22 ml Scotch</p>
                <p>22 ml Sweet Vermouth</p>
                <p>22 ml Heering cherry liqueur</p>
                <p>22 ml Orange juice</p>
                <p>Garnish with a maraschino cherry or orange peel</p>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <b>Rusty Nail</b>
                <hr>
                <p>30 ml Scotch</p>
                <p>30 ml Drambuie</p>
                <p>Garnish with a lemon twist</p>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <b>Godfather</b>
                <hr>
                <p>60 ml Scotch</p>
                <p>30 ml Amaretto</p>
            </table>
        </div>
    </div>
{% endblock %}
