{% extends 'base.html' %}
{% import 'forms.html' as forms %}

{% block app_content %}
    <h1>Edit Whisky - {{ whisky.distillery.name }} {{ whisky.name }}</h1>
    <hr><br>
    <form action="" method="post" class="form" role="form">
        <div class="row">
            <div class="col-md-5">
                {{ form.hidden_tag() }}
                {{ forms.form_grp(form.score) }}
                {{ forms.form_grp(form.nose) }}
                {{ forms.form_grp(form.palate) }}
                {{ forms.form_grp(form.finish) }}
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="form-group form-check>">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Tags</th>
                            </tr>
                        </thead>
                        {% for row in all_tags %}
                        <tbody>
                            <tr>
                                {% for tag in row %}
                                <td>
                                    <input id="{{ tag }}" name="add_tags" class="form-check-input" type="checkbox"
                                           value="{{ tag }}" {% if tag in form.checked_tags %}checked{% endif %}>
                                    <label for="{{ tag }}" class="form-check-label">{{ tag }}</label>
                                </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </div>
    </form>
{% endblock %}