<!DOCTYPE html>
<table class="table">
    <tr>
        <td style="border: 0px;">
            <small>
            <p>
                {% if whisky.number_reviews() == 1 %}
                There is {{ whisky.number_reviews() }} review.
                {% elif whisky.number_reviews() == 0 %}
                There are no reviews.
                {% else %}
                There are {{ whisky.number_reviews() }} reviews.
                {% endif %}
            </p>
            {% if current_user.not_commented(whisky.id) %}
                <hr id="whisky_popup">
                <p>You have not reviewed this yet!</p>
            {% endif %}
            </small>
        </td>
    </tr>
</table>