<!DOCTYPE html>
<table class="table">
    <tr>
        <td style="border: 0px;">
            <small>
            <p>
                {% if whisky.number_reviews() == 1 %}
                {{ _('There is %(num)s review.', num = whisky.number_reviews()) }}
                {% elif whisky.number_reviews() == 0 %}
                There are no reviews.
                {% else %}
                {{ _('There are %(num)s reviews.', num = whisky.number_reviews()) }}
                {% endif %}
            </p>
            {% if current_user.not_commented(whisky.id) %}
                <hr id="whisky_popup">
                <p>{{ _('You have not reviewed this yet!') }}</p>
            {% endif %}
            </small>
        </td>
    </tr>
</table>