{% extends 'base.html' %}

{% block app_content %}
    <h2>{{ whisky.distillery.name }} {{ whisky.name }} <span class="badge badge-secondary">{{ whisky.distillery.location }}</span></h2>
{% if whisky.about %}<div class="container"><p>{{ whisky.about }}</p></div>{% endif %}
    <br>
    <p>
        {% if current_user.is_authenticated %}
        {% if current_user.has_whisky(whisky) %}
        <a class="btn btn-outline-info active" href="{{ url_for('main.whisky_tried', id=whisky.id) }}" aria-pressed="true">Liked!</a>
        {% else %}
        <a class="btn btn-outline-info" href="{{ url_for('main.whisky_tried', id=whisky.id) }}" aria-pressed="false">Like it?</a>
        {% endif %}
        <a class="btn btn-outline-secondary" href="{{ url_for('main.edit_whisky', id=whisky.id) }}">Edit Whisky Info</a>
        <a class="btn btn-outline-primary" href="{{ url_for('main.submit_review', id=whisky.id) }}">Submit a review</a>
        {% endif %}
    </p>
    <hr>
    {% if reviews %}
    <table class="table table-hover">
        {% for review in reviews %}
            {% include "_post.html" %}
        {% endfor %}
    </table>
    {% endif %}
    <nav aria-label="whisky page">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url or '#' }}">
                    Older <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}